<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--   <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=(), user-id=()" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>世界災難回顧</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <!-- Roboto font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />

  <!-- Tailwind Elements styles-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />

  <link href="css/old_news.css?ver=2023080703" rel="stylesheet">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>

<body>
  <div class="text-center"
    style="background-position: center center; background-image: url(https://i.ibb.co/rZqDqV5/12091408-1-28.jpg); background-size: cover;">
<!--     <div class="text-5xl pt-14 md:text-8xl font-medium text-white">世界災難<br>新聞回顧</div> -->

<!--     <div class="pt-5 pb-14 text-white">關心了解週邊的眾生，以慈悲心設想如何幫助眾生。</div> -->
<div class="text-5xl pt-14 md:text-8xl font-medium text-white">&emsp;<br>&emsp;</div>

    <div class="pt-5 pb-14 text-white">&emsp;</div>
  </div>

  <!-- <div class="pb-3 pt-5 md:px-20">固定每週更新一次。</div> -->
  <div id="app">
    <label for="countries" class="text-xl md:px-20  block mb-2 ont-medium text-gray-900">請選擇年分</label>
    <div class="md:px-20">
      <select id="countries" v-model="select_year" @change="change_year"
        class="text-xl bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option disabled value="">請選擇年分</option>
        <option v-for="year in year_list" :value="year" v-text="year"></option>
      </select>
    </div>

    <div class="md:px-20 text-red-600 font-bold" v-text="loading_text+text_point" v-if="msg!=''"></div>

    <!-- 分頁 -->
    <div class="pt-5 place-content-center w-full flex justify-evenly items-center" v-if="msg==''&&data.length!=0">
      <nav aria-label="Page navigation example">
        <ul class="inline-flex -space-x-px text-base h-10">
          <li @click="previous_page()">
            <a :class="previous_class">←</a>
          </li>
          <template v-for="p in range_page">
            <li v-if="p=='...'">
              <a :class="omit_class">...</a>
            </li>
            <li v-else @click="click_page(p)">
              <a v-text="p" :aria-current="select_page==p?'page':''"
                :class="select_page==p?select_class:unselect_class"></a>
            </li>
          </template>
          <!-- <li>
            <a v-text="select_page+'/'+all_page" :class="unselect_class"></a>
          </li> -->
          <li @click="next_page()">
            <a :class="next_class">→</a>
          </li>
        </ul>
      </nav>
    </div>

    <div id="accordionExample">

      <div
        v-for="(item,index) in data.filter((e,index)=>index>=page_number*(select_page-1)&&index<page_number*select_page)"
        class="md:px-20 border border-t-0 border-neutral-200 bg-white">
        <h2 class="mb-0" id="headingTwo">
          <button
            class="group relative flex w-full items-center rounded-none border-0 bg-white px-5 py-4 text-left text-base text-neutral-800 transition [overflow-anchor:none] md:hover:z-[2] focus:z-[3] focus:outline-none"
            type="button" data-te-collapse-init data-te-collapse-collapsed :data-te-target="'#collapse_'+index"
            aria-expanded="false" aria-controls="collapseTwo" v-text="item.name"></button>
          <!-- </button> -->
        </h2>
        <div :id="'collapse_'+index" class="!visible hidden" data-te-collapse-item aria-labelledby="headingTwo"
          data-te-parent="#accordionExample">
          <div class="px-5 py-4 bg-blue-200" v-text="item.content">

          </div>
        </div>
      </div>
    </div>








  </div>

  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

</body>


<script type="module">

  // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'

  createApp({
    data() {
      return {
        omit_class: "flex items-center justify-center px-3 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300",
        previous_class: "flex items-center justify-center px-3 h-8 md:px-4 md:h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg md:hover:bg-gray-100 md:hover:text-gray-700",
        next_class: "flex items-center justify-center px-3 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg md:hover:bg-gray-100 md:hover:text-gray-700 ",
        unselect_class: 'flex items-center justify-center px-3 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 md:hover:bg-gray-100 md:hover:text-gray-700 ',
        select_class: 'flex items-center justify-center px-3 h-8 md:px-4 md:h-10 text-blue-600 border border-gray-300 bg-blue-50 md:hover:bg-blue-100 md:hover:text-blue-700 ',
        year_list: [],
        select_year: "",
        data: [], msg: "", loading_text: "資料系統查詢中", text_point: "",
        select_page: 1, page_number: 10, all_page: 1
        , range_page: []
      }
    },
    computed: {


    },

    methods: {
      close_all_collapse(){
        let div=document.querySelectorAll("div[id^=collapse_]")
        div.forEach(e=>{
          e.classList.remove('hidden')
          e.classList.add('hidden');
          e.removeAttribute('data-te-collapse-show')
        })
      },
      previous_page() {
        let select = this.select_page
        select--;
        this.select_page = select < 1 ? 1 : select
        this.close_all_collapse();
      },
      next_page() {
        let select = this.select_page
        select++;
        this.select_page = select > this.all_page ? this.all_page : select
        this.close_all_collapse();
      },
      click_page(page) {
        this.select_page = page
        this.close_all_collapse();
      },
      range(start) {
        return Array.from({ length: 10 }, (_, index) => start - index - 1);
      },

      change_year() {
        if (this.select_year != "") {
          // alert(this.select_year)
          this.get_year_data(this.select_year)
        }
      },
      async get_year_data(year) {
        // let corsURL = 'https://cors-anywhere.herokuapp.com/';
        //let corsURL = ' https://corstest-82783c5223dc.herokuapp.com/'
        //let corsURL="http://127.0.0.1:3000/"
        //let url = `https://den.ncdr.nat.gov.tw/umbraco/api/EventInfo/EventData?year=${year}`
        let url=`https://world-news-123.perry86236.workers.dev/?startDate=${year}-01&endDate=${year}-12`
        this.data = []
        this.msg = this.loading_text
        // //axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
//${corsURL}
        await axios.get(`${url}`)
          .then((response) => {
            let res = response.data
             console.log(res)
            let data = res.events
            /*
            date":"2024-12-23","countryCode":"波士尼亞與赫塞哥維納","category":"極端溫度","url":"/1330/1334/1336/13209/24554/","title":"巴爾幹半島遭遇暴風雪襲(12月)","reportData":null,"description":"巴爾幹半島遭遇暴風雪襲擊，導致多國出現嚴重的交通混亂和大規模停電。波士尼亞與赫塞哥維納(Bosnia and Herzegovina)，超過20萬戶家庭連續兩天無電可用，主要影響該國的西北部和中部地區。鐵路交通在受影響地區完全停滯，許多城鎮面臨停水和學校停課的情況。對該地區發布旅行警告，並禁止重型車輛通行，呼籲居民避免不必要的出行。克羅埃西亞的利卡地區，緊急救援隊伍救出了48名被大雪困住的人員。斯洛維尼亞的阿爾卑斯山區，強風和降雪阻礙了對一名自週日以來受困的匈牙利登山者的救援行動。塞爾維亞西部有多達1萬戶家庭在週三大部分時間內無電可用，而大多數地區的電力供應已於當天修復。\n
            */
            
            let output = data.filter(e => e.description.includes('死')).map(e => { return { id: e.id, name: e.title, content: e.description } }).sort((a, b) => a.id - b.id)
            this.msg = ""
            this.data = output
            let dataNum = output.length
            this.range_page = []
            this.select_page = 1
            this.all_page = Math.ceil(dataNum / this.page_number)
          })
          .catch((error) => {
            console.log(error)
            this.msg = this.err_text
          })
      },
      sort_date(data) {
        data = data.sort((a, b) => {
          if (a.YMD > b.YMD) {
            return -1;
          }
        });
        return data
      },
    },
    mounted() {
      let this_year = new Date().getFullYear()
      this.year_list = this.range(this_year)
      setInterval(() => {
        let date = new Date()
        let sec = date.getSeconds() % 4 + 1
        this.text_point = "...".repeat(sec)
      }, 1000)


    },
    async created() {
      //this.get_data()
      //await this.get_data()



    },
    watch: {
      select_page(newValue, oldValue) {
        let current = this.select_page
        let all_page = this.all_page
        let arr = Array
          .from({ length: all_page }, (_, index) => index + 1)
          .filter((e, index, arr) => index == 0 || index == arr.length - 1 || (e <= current + 1) && (e >= current - 1))
          .reduce((all, item) => {
            let all_l = all.length
            all_l > 0 && item - all[all_l - 1] > 1 && all.push('...')
            all = [...all, item]
            return all
          }, [])
        this.range_page = arr
      },
      all_page(newValue, oldValue) {
        let current = this.select_page
        let all_page = this.all_page
        let arr = Array
          .from({ length: all_page }, (_, index) => index + 1)
          .filter((e, index, arr) => index == 0 || index == arr.length - 1 || (e <= current + 1) && (e >= current - 1))
          .reduce((all, item) => {
            let all_l = all.length
            all_l > 0 && item - all[all_l - 1] > 1 && all.push('...')
            all = [...all, item]
            return all
          }, [])
        this.range_page = arr
        // let b_arr = [arr[0]]
        // for (let i = 1; i < arr.length; i++) {
        //   if (arr[i] - arr[i - 1] > 1)
        //     b_arr.push('...')
        //   b_arr.push(arr[i])
        // }
        // this.range_page = b_arr
        // console.log(b_arr)
      }
    }
  }).mount('#app')
</script>

</html>
