<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>世界災難回顧</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->
    <!-- Roboto font -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
    rel="stylesheet" />
  
    <!-- Tailwind Elements styles-->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    
  <link href="css/old_news.css?ver=2023080504" rel="stylesheet">

</head>

<body>
  <div class="text-center"
    style="background-position: center center; background-image: url(http://perry86236.github.io/test/pic.jpg); background-size: cover;">
    <div class="text-5xl pt-14 md:text-8xl font-medium text-white">世界災難<br>新聞回顧</div>

    <div class="pt-5 pb-14 text-white">關心了解週邊的眾生，以慈悲心設想如何幫助眾生。</div>
  </div>

  <!-- <div class="pb-3 pt-5 md:px-20">固定每週更新一次。</div> -->
  <div id="app">
    <label for="countries" class="text-xl md:px-20  block mb-2 ont-medium text-gray-900">請選擇年分</label>
    <div class="md:px-20">
      <select id="countries" v-model="select_year" @change="change_year"
      class="text-xl bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option disabled value="">請選擇年分</option>
        <option v-for="year in year_list" :value="year" v-text="year"></option>
      </select>
    </div>
    <div class="md:px-20 text-red-600 font-bold" v-text="loading_text+text_point" v-if="msg!=''"></div>

        <!-- 分頁 -->
<div class="place-content-center w-full flex justify-evenly items-center" v-if="msg==''&&data.length!=0">
  <nav aria-label="Page navigation example">
    <ul class="inline-flex -space-x-px text-base h-10">
      <li @click="previos_page()">
        <a href="#" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700" >Previous</a>
      </li>
      <!-- <li  v-for="p in all_page" @click="click_page(p)">
        <a href="#" v-text="p" :aria-current="select_page==p?'page':''"   :class="select_page==p?select_class:unselect_class"></a>
      </li> -->
      <li>
        <a href="#" v-text="select_page+'/'+all_page" :class="unselect_class"></a>
      </li>
      <li @click="next_page()">
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 ">Next</a>
      </li>
    </ul>
  </nav>
</div>

    <div id="accordionExample">

      <div v-for="(item,index) in data.filter((e,index)=>index>=page_number*(select_page-1)&&index<page_number*select_page)"
        class="md:px-20 border border-t-0 border-neutral-200 bg-white">
        <h2 class="mb-0" id="headingTwo">
          <button
            class="group relative flex w-full items-center rounded-none border-0 bg-white px-5 py-4 text-left text-base text-neutral-800 transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none"
            type="button"
            data-te-collapse-init
            data-te-collapse-collapsed
            :data-te-target="'#collapse_'+index"
            aria-expanded="false"
            aria-controls="collapseTwo"
            v-text="item.name"
            ></button>
          <!-- </button> -->
        </h2>
        <div
          :id="'collapse_'+index"
          class="!visible hidden"
          data-te-collapse-item
          aria-labelledby="headingTwo"
          data-te-parent="#accordionExample">
          <div class="px-5 py-4 bg-blue-200" v-text="item.content">

          </div>
        </div>
      </div>
    </div>








  </div>

  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
  
</body>


<script type="module">

// axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'

  createApp({
    data() {
      return {
        unselect_class:'flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ',
        select_class:'flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 ',
        year_list:[],
        select_year:"",
        data: [], msg: "", loading_text: "資料系統查詢中", text_point: "",
        select_page:1,page_number:10,all_page:1
      }
    },
    computed: {


    },

    methods: {
      previos_page(){
        let select=this.select_page
        select--;
        this.select_page=select<1?1:select
      },
      next_page(){
        let select=this.select_page
        select++;
        this.select_page=select>this.all_page?this.all_page:select
      },
      click_page(page){
        this.select_page=page
      },
      range(start) {
          return Array.from({ length: 10 }, (_, index) => start-index-1);
      },                                                            
      change_year(){
        if(this.select_year!=""){
          // alert(this.select_year)
          this.get_year_data(this.select_year)
        }
      },
      async get_year_data(year){
        // let corsURL = 'https://cors-anywhere.herokuapp.com/';
        let corsURL=' https://corstest-82783c5223dc.herokuapp.com/'
        //let corsURL="http://127.0.0.1:3000/"
        let url = `https://den.ncdr.nat.gov.tw/umbraco/api/EventInfo/EventData?year=${year}`
        this.data = []
        this.msg = this.loading_text
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        await axios.get(`${corsURL}${url}`)
          .then((response) => {
            let res=response.data
            // console.log(res)
            let data=res.datas
            let output=data.filter(e=>e.info_2.includes('死')).map(e=>{return {id:e.id,name:e.name,content:e.info_2}}).sort((a,b)=>a.id - b.id)
            this.msg = ""
            this.data=output
            let dataNum=output.length
            this.select_page=1
            this.all_page=Math.ceil(dataNum/this.page_number)
            })
          .catch((error) => {
            console.log(error)
            this.msg = this.err_text
          })
      },
      sort_date(data) {
        data = data.sort((a, b) => {
          if (a.YMD > b.YMD) {
            return -1;
          }
        });
        return data
      },
    },
    mounted() {
      let this_year=new Date().getFullYear()
      this.year_list=this.range(this_year)
      setInterval(() => {
        let date = new Date()
        let sec = date.getSeconds() % 4 + 1
        this.text_point = "...".repeat(sec)
      }, 1000)


    },
    async created() {
      //this.get_data()
      //await this.get_data()



    }
  }).mount('#app')
</script>

</html>
