<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>聖賢介紹</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" /> -->

    <link rel="stylesheet" href="css/sega_single.css??ver=2023091803.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <!-- Tailwind Elements styles-->
  </head>

  <body class="overflow-auto">
    <div id="app">
      <template v-for="(item,index) in data">
        <!-- <template v-for="(sub_item,sub_index) in item.data"> -->
        <!-- Modal -->
        <div data-te-modal-init class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none" :id="'Modal_'+index" tabindex="-1" :aria-labelledby="'ModalLabel_'+index" aria-hidden="true">
          <div data-te-modal-dialog-ref class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[0px]:m-0 min-[0px]:h-full min-[0px]:max-w-none">
            <div class="pointer-events-auto relative flex w-full flex-col rounded-md bg-white bg-clip-padding text-current shadow-lg outline-none min-[0px]:h-full min-[0px]:rounded-none min-[0px]:border-0">
              <div class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 min-[0px]:rounded-none">
                <!-- Modal title -->
                <h5 class="text-xl font-medium leading-normal text-neutral-800" :id="'ModalLabel_'+index" v-text="item.data[current_modal[index]].name"></h5>
                <!-- Close button -->
                <button type="button" class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none" data-te-modal-dismiss aria-label="Close">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>

              <!-- Modal body -->
              <div class="relative p-4 min-[0px]:overflow-y-auto flex flex-col gap-2 sm:flex-row sm:w-full">
                <img class="px-10 object-contain max-h-96 rounded-lg w-auto transition-transform duration-500 transform" :src="item.data[current_modal[index]].pic_url" alt="" />
                <p class="px-10 text-left" v-html="item.data[current_modal[index]].context_all.replace(/\n/g,'<br>')"></p>
              </div>

              <!-- Modal footer -->
              <div class="mt-auto flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 min-[0px]:rounded-none">
                <div class="flex cursor-pointer" @click="previous_modal(index)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-8 w-8 bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                  </svg>
                  <div class="mt-1">上一個</div>
                </div>
                <div class="grow"></div>
                <button type="button" class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 ring-1 ring-blue-500" data-te-modal-dismiss>Close</button>
                <div class="grow"></div>
                <div class="flex cursor-pointer" @click="next_modal(index)">
                  <div class="mt-1">下一個</div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-8 w-8 bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </div>
                <!-- <div class="flex w-64">
                  <div class="flex cursor-pointer" @click="previous_modal(index)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-8 w-8 bi bi-arrow-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    <div class="mt-1">上一個</div>
                  </div>
                  <div class="grow"></div>
                  <div class="flex cursor-pointer" @click="next_modal(index)">
                    <div class="mt-1">下一個</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-8 w-8 bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                  </div>
                </div>
                <div class="grow"></div> -->
                <!-- <button type="button" class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200" data-te-modal-dismiss>Close</button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- </template> -->
      </template>
      <div class="relative h-[300px] font-[sans-serif]">
        <img src="https://i.ibb.co/0yYsrmr/2023091501.webp" alt="Banner Image" class="w-full h-full object-cover" />
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <div class="absolute inset-0 flex flex-col justify-center items-center text-white px-6">
          <div class="place-content-center flex flex-wrap text-6xl md:text-8xl font-bold mb-4">
            <div v-if="data.length" v-text="data[0].class_name"></div>
            <div>介紹</div>
          </div>
          <!-- <p class="text-lg text-center mb-6">Embark on unforgettable journeys. Book your dream vacation today!</p> -->
          <!-- <a href="javascript:void(0)" class="bg-transparent text-white font-semibold py-2 border-2 border-white px-6 rounded hover:bg-white hover:text-black transition duration-300 ease-in-out"> Book Now </a> -->
        </div>
      </div>
      <div v-for="(item,index) in data[0].data">
        <hr v-if="index!=0" style="border-top: 1px dashed; width: 85%; margin: auto" />
        <div class="md:mx-20 mx-3 mt-5 flex flex-row p-5 active:bg-yellow-100" data-te-toggle="modal" data-te-target="#Modal_0" data-te-ripple-init data-te-ripple-color="light" @click="click_modal(0,index)">
          <div class="basis-1/4 md:basis-1/5 p-1 justify-end">
            <!-- <div class="flex-col justify-end items-end"> -->
            <!-- <div class="flex justify-center"> -->
            <div class="grow"></div>
            <img class="max-h-full max-w-64" :src="item.pic_url" alt="" />
            <!-- </div> -->

            <div class="max-w-64 flex justify-center self-center">
              <!-- <div class="grow"></div> -->
              <div class="text-sm" v-text="format_date(item.date)"></div>
              <svg class="ml-1 mt-0.5 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                <animateTransform attributeName="transform" type="rotate" from="0 0 0" to="360 0 0" begin="0s" dur="1s" repeatCount="indefinite" />
              </svg>
              <!-- <div class="grow"></div> -->
            </div>
            <!-- </div> -->
          </div>
          <div class="basis-1/4 md:basis-4/5 grow flex flex-col p-3">
            <div class="text-2xl font-bold" v-text="item.name"></div>
            <div class="mt-2 break-all indent-8 line-clamp-5" v-text="item.context"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
  </body>
  <script type="module">
    // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js";

    createApp({
      data() {
        return {
          p: "",
          right_text: ">",
          left_text: "<",
          maxNum_modal: [],
          current_modal: [],
          data: [],
          msg: "",
          loading_text: "資料系統查詢中",
          text_point: "",
          limit_num: 200,
          else_text: ".........",
        };
      },
      computed: {},

      methods: {
        scroll_left(index) {
          let container = document.getElementById("container_" + index);
          let width = container.clientWidth;

          container.scrollLeft -= width;
          // translate += width;
          // container.style.transform = "translateX(" + translate + "px" + ")";
        },
        scroll_right(index) {
          let container = document.getElementById("container_" + index);
          let width = container.clientWidth;

          container.scrollLeft += width;
          // translate -= width;
          // container.style.transform = "translateX(" + translate + "px" + ")";
        },
        previous_modal(index) {
          let current = this.current_modal[index];
          current = --current >= 0 ? current : 0;
          this.current_modal[index] = current;
        },
        next_modal(index) {
          let current = this.current_modal[index];
          current = ++current <= this.maxNum_modal[index] ? current : this.maxNum_modal[index];
          this.current_modal[index] = current;
        },
        click_modal(index, sub_index) {
          this.current_modal[index] = sub_index;
        },
        month_zh(month) {
          let arr = ["", "農曆一月份", "農曆二月份", "農曆三月份", "農曆四月份", "農曆五月份", "農曆六月份", "農曆七月份", "農曆八月份", "農曆九月份", "農曆十月份", "農曆十一月份", "農曆十一月份"];
          return arr[month];
        },
        format_date(date) {
          // console.log(date);
          // let date_1 = date.split("T")[0];
          let reg = /^[0-9]+\/[0-9]+$/;
          if (reg.test(date)) return "農曆 " + date;
          else return date;
        },
        name_html(text) {
          let arr = text.split("、");
          let arr_p = arr.map((e) => `<p class="text-xl">${e}</p>`);
          return arr_p.join("");
          //   if (arr_p.length == 0) return "";
          //   else if (arr_p.length == 1) return arr_p[0];
          //   else {
          //     return arr_p
          //       .map((e) => [e])
          //       .flat()
          //       .filter((e, i, arr) => i != arr.length - 1)
          //       .join("");
          //   }
        },
        url_go(url) {
          // window.top.location.href = url;
          window.open(url);
        },
        async get_data() {
          this.msg = this.loading_text;
          let url = `https://script.google.com/macros/s/AKfycbxrm-kN1fjcHFB5lmwbeeAnSzT7L29WS1ihxL0-XnyQkWr6Rqea5zrYnsaiOZWr4mY_Jw/exec?p=${this.p}`;
          console.log(url);
          await axios.get(url).then((response) => {
            let res = response.data;
            console.log(res);
            let data = res.reduce((group, item) => {
              // const { month } = item;
              // delete item["month"];
              // if (group.some((e) => e.month == month)) {
              //   let index = group.findIndex((e) => e.month == month);
              //   group[index]["data"].push(item); // = [...acc[index]["data"], cur]
              // } else {
              //   group = [...group, { month: month, data: [item] }];
              // }
              // return group;
              const { class_name, class_num } = item;
              delete item["class_name"];
              delete item["class_num"];
              if (group.some((e) => e.class_name == class_name)) {
                let index = group.findIndex((e) => e.class_name == class_name);
                group[index]["data"].push(item); // = [...acc[index]["data"], cur]
              } else {
                group = [...group, { class_name: class_name, class_num: class_num, data: [item] }];
              }
              return group;
            }, []);
            data = data.sort((a, b) => a.class_num - b.class_num);
            data.forEach(
              (e) =>
                (e.data = e.data.sort((a, b) => {
                  let aa = a.class_order;
                  let bb = b.class_order;
                  return !!!aa - !!!bb || +(aa > bb) || -(aa < bb);
                }))
            );
            console.log(data);
            this.data = data;
            this.msg = "";
          });
        },
      },
      mounted() {
        // let this_year=new Date().getFullYear()
        // this.year_list=this.range(this_year)
        setInterval(() => {
          let date = new Date();
          let sec = (date.getSeconds() % 4) + 1;
          this.text_point = "...".repeat(sec);
        }, 1000);
      },
      async created() {
        let uri = window.location.search.substring(1);
        let params = new URLSearchParams(uri);
        this.p = params.get("p");
        await this.get_data();
        // console.log(this.data);
        let classNum = this.data.length;
        // console.log(classNum);
        this.current_modal = Array.from({ length: 100 }, (_1, _2) => 0);

        this.maxNum_modal = this.data.map((e) => e.data.length - 1);
        // console.log(this.maxNum_modal);
      },
    }).mount("#app");
  </script>
</html>
