<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>世界災難</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="css/style.css" rel="stylesheet">
  <link href="global_news.css" rel="stylesheet">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
  <div class="text-center"
    style="background-position: center center; background-image: url(https://i.ibb.co/sRhPsbY/image.webp); background-size: cover;">
<!--https://perry86236.github.io/test/pic.jpg
     <div class="text-5xl pt-14 md:text-8xl font-medium text-white">世界災難<br>新聞</div>

    <div class="pt-5 pb-14 text-white">關心了解週邊的眾生，以慈悲心設想如何幫助眾生。</div> -->
  </div>

  <div class="pb-3 pt-5 md:px-20">固定每週更新一次。</div>
  <div id="app">
    <div class="md:px-20 text-red-600 font-bold" v-text="loading_text+text_point" v-if="data.length==0"></div>
    <div v-for="item in data">
      <div class="ps-2 pt-3 text-left font-semibold md:px-20">搜尋日期：<span class="pl-3" v-text=" item.YMD"></span></div>
      <div class="md:flex">
        <div class="md:shrink-0">
          <div class="h-auto w-full object-cover pr-5 ps-2 pt-3 font-semibold md:h-auto md:w-auto md:pl-20">新聞標題</div>
        </div>
        <div class="p-2 w-auto">
          <a v-text="sub_item.text" @click="go_url(sub_item.link)" target="_blank" v-for="(sub_item,i) in item.data"
            class="w-full mt-1 block py-1 text-lg font-medium leading-tight text-blue-700 hover:underline"
            :class="i%2==0?'bg-slate-200':''"></a>
        </div>
      </div>
    </div>
  </div>

  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</body>


<script type="module">


  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  createApp({
    data() {
      return {
        // input: "",
        data: [], msg: "", loading_text: "資料系統查詢中", text_point: ""
      }
    },
    computed: {


    },

    methods: {
      go_url(url) {
        //console.log(top.location, self.location)
        // window.top.location.href = url
        window.open(url)
        // window.location.assign(url)
      },

      sort_date(data) {
        data = data.sort((a, b) => {
          if (a.YMD > b.YMD) {
            return -1;
          }
        });
        return data
      },
      async get_data() {
        //共修4
        let url = "https://script.google.com/macros/s/AKfycbzQkLD390RC_2jR_bW_5PYeyaznoP4mg7N3s4E0Kkzyfds0yxDY_7Ru-9lwSccZodmJ/exec"
        this.data = []
        //if (!!this.name) {
        this.msg = this.loading_text
        await axios.get(url)
          .then((response) => {
            //console.log(response.data)
            this.data = this.sort_date(response.data).map(e => {
              return e
            })
            // let data=this.sort_date(response.data)
            // this.data4=data.map(e=>{
            //     e.item=e.item.replace(/、/g,"\n")
            //     return e
            // })

            this.msg = ""
          })
          .catch((error) => {
            console.log(error)
            this.msg = this.err_text
          })
        //}
      },
    },
    mounted() {
      setInterval(() => {
        let date = new Date()
        let sec = date.getSeconds() % 4 + 1
        this.text_point = "...".repeat(sec)
      }, 1000)


    },
    async created() {
      //this.get_data()
      await this.get_data()



    }
  }).mount('#app')
</script>

</html>
